# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*$py.class


# ==============================
# Virtual Environment
# ==============================

venv/
.venv/
env/


# ==============================
# Environment Config
# ==============================

.env
*.env


# ==============================
# IDE
# ==============================

.vscode/
.idea/


# ==============================
# OS
# ==============================

.DS_Store
Thumbs.db


# ==============================
# Logs
# ==============================

*.log


# ==============================
# Database
# ==============================

*.sqlite
*.db
backups/
*.dump
*.local.json
